/* Base styles */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f4f6;
  color: #111827;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #f3f4f6;
  }
}

#app {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
